<div id="about">
  <div class="intro header">A simple, mobile javascript library for creating elegant widgets</div>
  <div class="download">{{#link-to "download"}}<span>DOWNLOAD</span>{{/link-to}}</div>
  <section>
    <div class="triad">
      <h3>Transparent</h3>
      <p>Soysauce was created with reiteration in mind. Transparent goals and ease of development is a first priority.</p>
    </div>
    <div class="triad">
      <h3>Powerful</h3>
      <p>Widgets have different variations and can be easily changed. Visit the {{#link-to "api"}}Widgets' API{{/link-to}} to see what options are available each widget.</p>
    </div>
    <div class="triad">
      <h3>Simple</h3>
      <p>Something other description that will make you want to use this.</p>
    </div>
  </section>
</div>
