@import 'variables';

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  background: $orange;
  letter-spacing: 0.3px;
  color: $dark-gray;
  font-size: 15px;
  > .ember-view {
    background: $vlight-orange;
  }
}
