// Colors
$orange = #FF9C00;
$orange-highlight = rgba(255, 156, 0, 0.6);
$light-orange = #FFB540;
$vlight-orange = #FFC963;
$dark-orange = #FF8800;
$brown = #774400;
$light-brown = #BF8830;
$light-green = #9BBA00;
$green = #3a9100;
$dark-green = #115500;
$vlight-yellow = #FFFFDD;
$gray = #777;
$dark-gray = #1C1C1C;
$red = #cd4000;
$dark-blue = #0033AA;

// Styles
$code-font = Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
